@import 'vars';

@function calculaWidthPercentage($i, $column-number) {
  @return percentage($i/$column-number);
}

body {
  background: white;
  font-family: 'Roboto', 'Helvetica';
}

h1, h2, h3, h4, h5, h6 {
  color: $blue;
  font-weight: bold;
  text-align: left;
  text-shadow: 3px 4px 9px rgba(0, 0, 0, .5);
}

.container {
  &:after,
  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.column {
  float: left;
  padding: $gutter;
}

@for $i from 1 through $column-number {
  .s-#{$i} {
    width: calculaWidthPercentage($i, $column-number);
  }
}

.controls {
  div {
    opacity: 1 !important;
    cursor: pointer;
    transition: $transition-time border-color ease;
  }
  .navigate-left {
    border-right-color: $gray !important;
    &:hover,
    &:active {
      border-right-color: $blue !important;
    }
  }
  .navigate-right {
    border-left-color: $gray !important;
    &:hover,
    &:active {
      border-left-color: $blue !important;
    }
  }
}

.slides {
  .title span {
    position: relative;
    display: inline-block;
    opacity: 0;
    transform: translateX(0);
  }

  .content {
    opacity: 0;
    transform: translateX(-100%);
    text-align: left;
  }
}
