body {
  background: white;
  font-family: 'Roboto', 'Helvetica';
}

h1, h2, h3, h4, h5, h6 {
  color: $blue;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 4px 9px rgba(0, 0, 0, .5);
  position: relative;
}

.common-list {
  list-style-type: none !important;
  li {
    position: relative;
    &:before {
      content: ' ';
      display: block;
      border-radius: 50%;
      background-color: $dark-green;
      margin-left: -10px;
      height: 5px;
      width: 5px;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }
}

p {
  color: $light-gray;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.responsive-img {
  display: block;
  width: 100%;
}


/* General */
.profile-container {
  position: relative;
}
.profile {
  display: block;
  margin: auto;
}
.glasses {
  display: block;
  position: absolute;
  margin: 0 auto !important;
  width: 100px;
}