$skin: #c68642;
$uniform: #92999F;
$yellow: #FED30A;

@-webkit-keyframes hide-character {
  0%   {
    transform: translateY(152px);
  }

  50%   {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(152px);
  }
}

@-moz-keyframes hide-character {
  0%   {
    transform: translateY(152px);
  }

  50%   {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(152px);
  }
}

@keyframes hide-character {
  0%   {
    transform: translateY(152px);
  }

  50%   {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(152px);
  }
}

.animation-container-demo {
  position: relative;
  min-height: 400px;
}
.character-container {
  height: 200px;
  width: 120px;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(1.4);
}

.character {
  .head {
    left: 27px;
    position: relative;
  }

  .face {
    border-radius: 62px 62px 80px 80px;
    height: 80px;
    width: 65px;
    position: absolute;
    top: 40px;
    overflow: hidden;
  }

  .ear {
    width: 0;
    height: 0;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
    border-bottom: 43px solid black !important;
    position: absolute;
  }

  .eye {
    background: white;
    width: 15px;
    height: 9px;
    display: inline-block;
    margin: 0 2px 0 2px;
    border-radius: 0 0 50% 50%;
    position: absolute;
    &:before {
      content: '';
      position: absolute;
    }
  }

  .mouth {
    width: 32px;
    height: 30px;
    position: absolute;
    background: $skin;
    hr {
      width: 58%;
      border-color: black;
    }
  }

  .chest {
    position: absolute;
    width: 120px;
    height: 180px;
    background: $uniform;
    z-index: -1;
    border-radius: 100px 100px 200px 200px;
    overflow: hidden;

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 35px solid transparent !important;
      border-right: 32px solid transparent !important;
      border-bottom: 113px solid black !important;
    }
  }

  + .hands {
    .hand {
      list-style-type: none !important;
      position: absolute;
      margin: 0 !important;
      bottom: -7px;
      li {
        font-size: 0;
        display: inline-block;
        height: 16px;
        width: 8px;
        border: 0.25px solid white;
        border-radius: 3px 3px 0 0;
        background: black;
      }

      &.left {
        left: 15px;
      }
      &.right {
        right: 15px;
      }
    }
  }
}

.character-1 {
  .face {
    background: black;
  }

  .ear {
    top: 16px;
    &.right {
      left: 55px;
    }
  }

  .eye {
    top: 30px;

    &.left {
      left: 12px;
    }
    &.right {
      right: 12px;
    }
  }

  .mouth {
    bottom: 0;
    left: 16px;
  }

  .chest {
    top: 94px;
    &:before {
      transform: rotate(51deg);
      left: -10px;
      top: -47px;
    }
    &:after {
      transform: rotate(-51deg);
      right: -10px;
      top: -47px;
    }
  }

  .logo {
    height: 30px;
    width: 50px;
    border: 1px solid black !important;
    background-color: $yellow;
    position: absolute;
    top: 39px;
    left: 36px;
    border-radius: 40px;
  }
}
