.slides {
  .title {
    margin-bottom: $gutter * 2;
    span {
      position: absolute;
      display: inline-block;
      font-size: 65px;
      opacity: 0;
      transform: translateX(0);
    }
  }

  .content {
    opacity: 0;
    transform: translateX(-100%);
    text-align: left;
  }
}
