.controls {
  div {
    opacity: 0 !important;
    cursor: pointer;
    transition: $transition-time border-color ease, $transition-time opacity ease;
    &:not(.enabled) {
      display: none;
    }
    &.enabled {
      opacity: 1 !important;
    }
  }
  .navigate-left {
    border-right-color: $gray !important;
    &:hover,
    &:active {
      border-right-color: $blue !important;
    }
  }
  .navigate-right {
    border-left-color: $gray !important;
    &:hover,
    &:active {
      border-left-color: $blue !important;
    }
  }
}