@-webkit-keyframes left {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes left {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes left {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes right {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes right {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
@-moz-keyframes right {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

#loader {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  &:before,
  &:after {
    content: '';
    border-radius: 50%;
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
  }

  &:before {
    border-left: 3px solid red;
    animation: left 1s infinite;
    animation-timing-function: linear;
  }

  &:after {
    border-bottom: 3px solid blue;
    animation: right 1s infinite;
    animation-timing-function: linear;
  }
}
